<blockquote class="layui-elem-quote">添加员工</blockquote>

<form class="layui-form">
	<div class="layui-form-item">
		<label class = "layui-form-label">账号</label>
		<div class="layui-input-inline">
			<input type="text" name="username" placeholder="请输入账号"  class="layui-input">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class = "layui-form-label">密码</label>
		<div class="layui-input-inline">
			<input type="password" name="password" placeholder="请输入密码"  class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class = "layui-form-label">电话</label>
		<div class="layui-input-inline">
			<input type="text" name="phone" placeholder="请输入电话"  class="layui-input">
		</div> 
	</div>
		<div class="layui-form-item">
		<label class = "layui-form-label">邮箱</label>
		<div class="layui-input-inline">
			<input type="text" name="email" placeholder="请输入邮箱"  class="layui-input">
		</div> 
	</div>
	
	
	<div class="layui-form-item">
		<label class = "layui-form-label">姓名</label>
		<div class="layui-input-inline">
			<input type="text" name="realname" placeholder="请输入姓名"  class="layui-input">
		</div> 
	</div>
	
	<div class="layui-form-item">
		<label class = "layui-form-label">角色</label>
		<div class="layui-input-block">
			<input type="radio" name="role" value="0" title="员工" checked>
			<input type="radio" name="role" value="1" title="管理员" >
		</div> 
	</div>
	
	
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="add">
			添加
			</button>
		</div> 
	</div>
	
</form>

<script>
layui.use(['form'],function(){
	var form = layui.form;
	//表单的提交
	form.render();//渲染表单
	
	form.on('submit(add)',function(data){
		$.ajax({
			url: '/user/add', //请求地址
			data: data.field,
			type: 'post',
			dataType: 'json',
			success: function(result){ //请求成功时的回调函数
				if(result.code == 0)
				{
				layer.msg('添加成功');
				}
				else
				{
				layer.msg(result.msg);
				}
			},
			error:  function(){ //请求失败时的回调函数
				layer.msg('请求失败');
			}
			});	
	return false;
	});
});
</script>
